simulator/*
publish/*
xcuserdata
xcshareddata
.xcshareddata
.xcuserdata
*.xcshareddata
*.xcuserdata
.xcuserstate
*.xcuserstate
xcuserstate
project.xcworkspace/
.DS_Store
*.pyc
*.xcuserstate  

project.xcworkspace  

xcuserdata  

UserInterfaceState.xcuserstate  

project.xcworkspace/  

xcuserdata/  

UserInterface.xcuserstate
