simulator/*
publish/*
xcuserdata
xcshareddata
.xcshareddata
.xcuserdata
*.xcshareddata
*.xcuserdata
.xcuserstate
*.xcuserstate
xcuserstate
project.xcworkspace/
.DS_Store
*.pyc
*.xcuserstate  

project.xcworkspace  

xcuserdata  

UserInterfaceState.xcuserstate  

project.xcworkspace/  

xcuserdata/  

UserInterface.xcuserstate
bin/
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/libcocos2dx/libcocos2dx.iml
cocos2d/cocos/platform/android/libcocos2dx/build/
proj.android-studio/app/assets/
proj.android-studio/app/libs/
proj.android-studio/.idea/
proj.android-studio/app/CatFootPrint.iml
proj.android-studio/app/build.xml
proj.android-studio/app/local.properties
proj.android-studio/app/obj/
proj.android-studio/app/proguard-project.txt
proj.android-studio/proj.android-studio.iml
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/local.properties
proj.android/obj/
proj.ios_mac/shared/
.cocos-project.json
proj.android/libs/
